img {
    float: left;
    width: 250px;
    height: 400;
    margin-right: 20px;
  }
  
h1{
    color:rgb(255, 0, 140);
    margin-left:20px;
    
    border: 2px solid black;
    border: inset;
    border-radius: 5px;
    display:inline-block;
    padding: 0 20px 0 20px;
}
h2{
    color:black;
    

}
h2:hover p {
    display: block;
  }
  p {
    display: none;
    background-color: rgb(255, 0, 179);
    padding: 20px;
  }
hr{
    width: 320px;
    margin-left: 0;
}


body {
    background-color: #cfbcbc;
    
  }
  